<aside>
  <div class="row">
    <div class="col-md-12">
    <br/>
        {% if page.path contains '_posts' %}
        <h1 class="text-center" style="margin-top:0px"><a href="/blog" class="icon ic-back"></a></h1>
        {% else %}
        <h1 class="text-center" style="margin-top:0px"><a href="/" class="icon ic-back"></a></h1>
        {% endif %}
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <ul class="left-nav">
        {% for link in site.navigation %}
          {% capture pageurl %}{{link.url}}{{"index.html"}}{% endcapture %}
          {% if page.url == pageurl or (link.text == 'Blog' and page.id) %}
            <li class="left-nav-item left-nav-selected">{{link.text}}</a>
          {% else %}
            <li class="left-nav-item">
              <a href="{{link.url}}">{{link.text}}</a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
    </div>
  </div>
</aside>
