{% if site.dribbble %}<a href="{{site.dribbble}}">{% include svg-icons/dribbble.html %}</a>{% endif %}
{% if site.email %}<a href="mailto:{{site.email}}">{% include svg-icons/email.html %}</a>{% endif %}
{% if site.facebook %}<a href="{{site.facebook}}">{% include svg-icons/facebook.html %}</a>{% endif %}
{% if site.flickr %}<a href="{{site.flickr}}">{% include svg-icons/flickr.html %}</a>{% endif %}
{% if site.github %}<a href="{{site.github}}">{% include svg-icons/github.html %}</a>{% endif %}
{% if site.gplus %}<a href="{{site.gplus}}">{% include svg-icons/google.html %}</a>{% endif %}
{% if site.instagram %}<a href="{{site.instagram}}">{% include svg-icons/instagram.html %}</a>{% endif %}
{% if site.linkedin %}<a href="{{site.linkedin}}">{% include svg-icons/linkedin.html %}</a>{% endif %}
{% if site.pinterest %}<a href="{{site.pinterest}}">{% include svg-icons/pinterest.html %}</a>{% endif %}
{% if site.rss %}<a href="{{site.rss}}">{% include svg-icons/rss.html %}</a>{% endif %}
{% if site.twitter %}<a href="{{site.twitter}}">{% include svg-icons/twitter.html %}</a>{% endif %}
{% if site.stackoverflow %}<a href="{{site.stackoverflow}}">{% include svg-icons/stackoverflow.html %}</a>{% endif %}
