.justified {
    text-align: justify;
}

.publish-tag {
    font-variant: small-caps;    
    color: #aaa;
    padding-bottom: 10px;
}

.btn-back {
    margin-left: -46px;
    text-decoration:none !important;
}

.container > header {
	color: #2672EC;
}


.tile {  
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	background: #fff;		
	padding: 20px;
	margin-bottom: 30px;
	height: 160px;
}
  
.title {
	margin-top: 0px;
}
  

.purple, .blue, .red, .orange, .green {
    color: #fff;
  }
  
.purple {
    background: #5133AB;
}
  
.red {
    background: #AC193D;
}
  
.green {
    background: #00A600;
}
  
.blue {
    background: #2672EC;
}
  
.orange {
    background: #DC572E;
}

.icon {
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;   
    list-style: none outside none;
}	
.icon-twitter{background-position:0px 0px ; width: 128px ; height: 128px; }
.icon-facebook{background-position:-138px 0px ; width: 128px ; height: 128px; }
.icon-googleplus{background-position:-276px 0px ; width: 128px ; height: 128px; }
.icon-RSS{background-position:-414px 0px ; width: 128px ; height: 128px; }
.icon-linkedin{background-position:-552px 0px ; width: 128px ; height: 128px; }
.icon-blog{background-position:-690px 0px ; width: 128px ; height: 128px; }
.icon-resume{background-position:-828px 0px ; width: 128px ; height: 128px; }
.icon-back{background-position:-966px -40px ; width: 48px ; height: 48px; }