.mtile {
    box-sizing: border-box;
    display: inline-block;
    height: 74px;
    margin-bottom: 25px;
    padding: 10px;
    width: 100%;
}

.rside {
    float: right;
}

#pin {
    color: #fff;
}

.tile > h3 {
    font-size: 24px;
}

.font-fix {
	font-size: 18px;
}

.rep-1 {
    margin-top: -9%;
    padding-left: 0;
}

.rep-2 {
    margin-top: -9%;
    padding-left: 0;
}

/* Media queries for animated tiles (narmal size) */

@media only screen
and (min-width : 1224px) {
.fix-3 {
	width: 16.6% !important;
}
}

@media only screen
and (min-width : 320px)
and (max-width : 768px) {
.fix-3 {
	width: 50% !important;
}
}

@media only screen
and (min-width : 768px)
and (max-width : 1224px) {
.fix-3 {
	width: 25% !important;
}
}

@media only screen
and (max-width : 320px) {
.fix-3{
	width: 50% !important;
}
}
