body {
		background: url('/assets/images/bcg_wall.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
		color:#fff;
  	background-color:#333;
}

.bord {
   border: 1px solid #fff;
}

.mtile {
    box-sizing: border-box;
    display: inline-block;
    height: 74px;
    margin-bottom: 25px;
    padding: 10px;
    width: 100%;
}

#pin {
 color: #fff;
}

.icon-facebook {
background-image: url('/assets/images/icon-facebook.png');
background-position: center;
background-repeat: no-repeat;
}

.icon-facebook-small {
background-image: url('/assets/images/icon-facebook-small.png');
background-position: center;
background-repeat: no-repeat;
}

.icon-googleplus {
background-image: url('/assets/images/icon-googleplus.png');
background-position: center;
background-repeat: no-repeat;
}

.icon-googleplus-small {
background-image: url('/assets/images/icon-googleplus-small.png');
background-position: center;
background-repeat: no-repeat;
}

.icon-twitter {
background-image: url('/assets/images/icon-twitter.png');
background-position: center;
background-repeat: no-repeat;
}

.icon-twitter-small {
background-image: url('/assets/images/icon-twitter-small.png');
background-position: center;
background-repeat: no-repeat;
}

.icon-linkedin {
background-image: url('/assets/images/icon-linkedin.png');
background-position: center;
background-repeat: no-repeat;
}

.icon-linkedin-small {
background-image: url('/assets/images/icon-linkedin-small.png');
background-position: center;
background-repeat: no-repeat;
}

.icon-rss {
background-image: url('/assets/images/icon-rss.png');
background-position: center;
background-repeat: no-repeat;
}

.icon-rss-small {
background-image: url('/assets/images/icon-rss-small.png');
background-position: center;
background-repeat: no-repeat;
}

.icon-resume {
background-image: url('/assets/images/icon-resume.png');
background-position: center;
background-repeat: no-repeat;
}

.icon-resume-small {
background-image: url('/assets/images/icon-resume-small.png');
background-position: center;
background-repeat: no-repeat;
}

.icon-blog {
background-image: url('/assets/images/icon-blog.png');
background-position: center;
background-repeat: no-repeat;
}

.icon-blog-small {
background-image: url('/assets/images/icon-blog-small.png');
background-position: center;
background-repeat: no-repeat;
}

.rep-1 {
    margin-top: -9%;
    padding-left: 0;
}

.rep-2 {
    margin-top: -9%;
    padding-left: 0;
}
