---
layout: master
title: Abdel Raoof's Blog
---


      <div class="container-fluid">
        <div class="row">
          <div class="hidden-xs col-md-2 blue sidebar">
            <aside>
              <div class="row">
                  <div class="col-md-12">
                		<h1 class="text-center"><a href="{{sit.url}}" class="icon-back" style="color:white;text-decoration:none"></a></h1>
              	</div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                		<div class="list-group">
                        <a href="/about" class="list-group-item active">About Me</a>
                        <a href="/tags" class="list-group-item">Tags</a>
                        <a href="/archive" class="list-group-item">Archive</a>
                    </div>
                    <div class="list-group">
                        <a href="http://twitter.com/olakara" class="list-group-item active">Twitter</a>
                        <a href="#" class="list-group-item">LinkedIn</a>
                        <a href="#" class="list-group-item">Github</a>
                    </div>
              	</div>
              </div>
            </aside>
          </div>
          <div class="col-md-10 col-md-offset-2">
            <div class="row">
              {% for post in paginator.posts %}
              <article class="col-md-12 justified">
                <h1 class="post-title">
                  <a href="{{site.baseurl}}{{ post.url }}">
                    {{ post.title }}
                  </a>
                </h1>
                <div class="publish-tag">
                  <span class="fa fa-calendar"></span>&nbsp;PUBLISHED ON {{ post.date | date: "%B %d, %Y" }}
                </div>
                <br/>
                {{ post.content }}
              </article>
              {% endfor %}
            </div>
            <br/>
  
            <div class="row">
              <div class="col-sm-6 text-left">
                  {% if paginator.next_page %}
                  <a class="btn btn-primary" href="{{paginator.next_page_path}}">← Older</a>
                  {% else %}
                  <span class="btn btn-primary disabled">← Older</span>
                  {% endif %}
              </div>
              <div class="col-sm-6 text-right">
                  {% if paginator.previous_page %}
                  {% if paginator.page == 2 %}
                  <a class="btn btn-primary" href="/blog/">Newer →</a>
                  {% else %}
                  <a class="btn btn-primary" href="{{paginator.previous_page_path}}">Newer →</a>
                  {% endif %}
                  {% else %}
                  <span class="btn btn-primary disabled">Newer →</span>
                  {% endif %}
              </div>
            </div>
            {% include footer.html %}
          </div>
        </div>
      </div>  